MONGODB_URI=
JWT_SECRET=
# node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"

NODE_ENV=
SELLER_EMAIL=
SELLER_PASSWORD=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=

STRIPE_WEBHOOK_SECRET=